.App {
  text-align: center;
}

body {
/*background-color: #D0DBE7;*/
font-family: Andale Mono;
background: rgb(231,169,196);
background: linear-gradient(90deg, rgba(231,169,196,1) 0%, rgba(172,209,252,1) 57%, rgba(166,172,241,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toolNameAbrev {
  text-align: center;
  margin-top: 50px;
  font-size: 70px;
}

.toolName {
  text-align: center;
  margin-top: -15px;
  font-size: 20px;
  text-decoration-line: underline;
  /*display: inline;*/
}

/*.underlineText {
  display:inline;
}*/

input[type=file] {
    padding-bottom: 5px;
}

input[type=file]::file-selector-button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #F4F4F4;
  box-shadow: 3px 3px 4px #bbbbbb;
  margin-left: 27px;
}

input[type=file]::file-selector-button:hover {
  background-color: #EAEAEA;
  border: none;
}

.inputButt {
  text-align: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.responseTitle {
  text-align: center;
  margin-top: 3%;
}

.requestBlock {
  text-align: left;
  height: 550px;
  /*background-color: rgb(223, 223, 223);*/
  background-color: white;
  margin-right: 15px;
  padding: 30px;
  border-radius: 15px;
  overflow-y: auto;
}

.responseBlock {
  text-align: left;
  height: 550px;
  /*background-color: rgb(223, 223, 223);*/
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  overflow-y: auto;
}

.requestBlockWrapper {
  margin-top: 3%;
  display: inline-block;
  text-align: left;
  width: 40%;
}

.responseBlockWrapper {
  margin-top: 3%;
  display: inline-block;
  text-align: left;
  width: 40%;
}

.codeBlockWrapper {
  text-align: center;
}

pre {
  white-space:pre-wrap;
}

.testGeneratorButton {
  display: block;
  border-radius: 5px;
  width: 277px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-color: #F4F4F4;
  border: none;
  box-shadow: 3px 3px 4px #bbbbbb;
}

.testGeneratorButton:hover {
  background-color: #EAEAEA;
  border: none;
}

.moreTestsButton {
  display: block;
  border-radius: 5px;
  width: 227px;
  padding-block: 6px;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: 190px;
  background-color: #F4F4F4;
  border: none;
  box-shadow: 3px 3px 4px #bbbbbb;
}

.moreTestsButton:hover {
  background-color: #EAEAEA;
  border: none;
}

.testForm {
  margin-bottom: 100px;
}

.testText {
  font-size: 20px;
}

.testSubmitButt {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #F4F4F4;
  box-shadow: 3px 3px 4px #bbbbbb;
}

.testSubmitButt:hover {
  background-color: #EAEAEA;
  border: none;
}

.inputSquare {
  padding: 20px;
}

.inputBox {
  width: 400px;
  height: 50px;
}